<div class="albums-container">
    <h2>Albums</h2>

    @if (albarr$ | async; as albums) {

    <div class="album-grid">
        @for (album of albums; track album.id) {
        <div class="album-card">
            <a [routerLink]="['/albums', album.id]">
                <span class="album-id">#{{ album.id }}</span>
                <span class="album-title">{{ album.title }}</span>
            </a>
        </div>
        }
    </div>

    } @else {
    <p class="loading">Loading...</p>
    }
</div>