body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 2em;
}

header {
    padding: 10px 10px 10px 50px;
    color: rgb(163, 163, 163);
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 20% 0 20%;
}

section {
    display: flex;
    flex-direction: row;
    padding: 0 2em 0 2em;
}

ul {
    list-style: none;
    padding: 0;
    border-radius: 5px;
}

li {
    border-bottom: 1px solid darkgrey;
}



.reminder-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.reminder-text {
    width: 100%;
    margin-left: 3em;
    font-size: 0.8em;

}

.delete-btn {
    border: none;
    background-color: white;
}

.trash-icon {
    width: 1em;
}

#taskInput {
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 0.8em;
    width: 100%;
    margin: 0 2em 0 2em;
}

#add-button {
    color: #ffffff;
    background-color: rgb(72, 125, 222);
    border: 1px solid darkgray;
    border-radius: 5px;
    border: none;
    width: 4rem;
}

#add-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

#add-button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}