<div class="details-container">

    <h2>Album Details</h2>

    @if (album$ | async; as album) {

    <div class="details-card">

        <div class="info">
            <p><strong>ID:</strong> {{ album.id }}</p>
            <p><strong>User ID:</strong> {{ album.id }}</p>
        </div>

        <div class="form-group">
            <label>Title</label>
            <input [(ngModel)]="album.title">
        </div>

        <div class="button-group">
            <button class="primary" (click)="save()">Save</button>
            <button class="secondary" (click)="goToPhoto(album.id)">
                View Photos
            </button>
            <button class="danger" (click)="goBack()">Back</button>
        </div>

    </div>

    } @else {
    <p>Loading...</p>
    }

</div>