/* ===============================
   CSS styles for task3 T.Ossepyan
   =============================== */

body {
    margin: 0;
    padding: 0;
    font-family: 'Mona-sans', sans-serif;
}

sup {
    color: #505050;
}

h4 {
    color: #2188ff;
    text-align: left;
    margin-left: 20px;
    font-size: 14px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 6em;
}

.head p {
    color: #4e4e4e;
    font-family: 'Mona-sans', sans-serif;
    font-size: 16px;
    margin: 0 15% 1em 15%;
}

.head h1 {
    color: #000000;
    font-family: 'Mona-sans', sans-serif;
    font-size: 4em;
    text-align: center;
    font-weight: 900;
    margin-top: 80px;
    width: 80%;
}

.bl-btn {
    white-space: nowrap;
    text-wrap: none;
    background: linear-gradient(#2f2f2f, #1c1c1c);
    color: white;
    padding: 15px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 20px 0 20px;
}

.wh-btn {
    white-space: nowrap;
    background: white;
    color: black;
    padding: 15px 20px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 20px 0 20px;
}

.wh-btn:hover {
    border: 1px solid #000000;
}

.bl-btn:hover {
    background: linear-gradient(#505050, #1c1c1c);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cards {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}


.pricing-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 26%;
    margin: 10px;
    text-align: center;
    box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.1);
}

.pricing-card-head {
    margin: 20px;
}

.pricing-card p {
    color: #555555;
    font-size: 14px;
    margin: 0 40px 20px 40px;
}



#enterprise-frame {
    display: flex;
    background-color: #2188ff;
    flex-direction: column;
    border: 8px solid #2188ff;
    border-radius: 10px;
    padding: none;
    box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -15px;
    width: 26%;
}

#rec {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #2188ff;
    margin-bottom: 5px;
}

#enterprise-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    text-align: center;
}

#enterprise-card p {
    color: #555555;
    font-size: 14px;
    margin: 0 40px 20px 40px;
}

#btn-row {
    display: flex;
    flex-direction: column;
}

.number {
    font-size: 2.5em;
    color: #000000;
}

.curency {
    font-size: 1.5em;
    color: #000000;
}

.per-user {
    color: #777777;
    font-size: 14px;
    margin-bottom: 10px;
}

.add-ons-title {
    font-size: 4em;
    color: #000000;
    margin: 20px 0 40px 0;
    text-align: center;
}

.add-ons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    text-align: left;
    gap: 20px;
    margin: 0 18px 18px 18px;
}

.add-on-card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.add-on-card h3 {
    margin: 10px 0 10px 0;
    font-size: 1.2em;
    color: #000000;
}

.add-on-card p {
    margin: 10px 0 10px 0;
    font-size: 14px;
    color: #555555;

}

.add-on-card:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.add-on-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.add-on-card span {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
}

.options {
    width: 100%;
    height: 100%;
    background-color: #f6f8fa;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
    border-end-end-radius: 10px;
}

.option-list img {
    width: 1em;
    height: 1em;
    margin: 0 0 0 1em;
}

.option-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.8em;
}

.option-container {
    display: flex;
}

.option-list p {
    margin-left: 3.5em;
}

.option-list-element {
    text-wrap-mode: nowrap;
    break-inside: auto;
    white-space: nowrap;
    font-weight: bold;
    color: #59636e;
    font-size: 14px;
    margin-bottom: 1em;
}

#everything-included {
    display: flex;
    white-space: nowrap;
    margin: 0 0 2em 20px;
    font-size: 14px;
    justify-content: start;
}

#arrow-back {
    width: 1em;
    margin-right: 10px;
}

@media (max-width: 1024px) {
    .cards {
        flex-direction: column;
        align-items: center;
        margin: 0 0 0 0;
    }

    .option-list {
        display: none;
    }

    h4 {
        display: none;
    }

    .pricing-card {
        width: 80%;
    }

    #enterprise-frame {
        width: 80%;
    }

    #enterprise-card {
        width: 100%;
    }

    #everything-included {
        display: none;
    }
}

@media (min-width: 1300px) {
    .btn-in-row {
        margin: 0 0 0 1em;
    }

    #btn-row {
        flex-direction: row;
    }

}