* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-left: #ffffff;
    --bg-right: #ffffff;
    --text-primary: #000000;
    --text-secondary: #a8a8a8;
    --input-bg: #1c2b33;
    --input-border: #363636;
    --primary-blue: #0064e0;
    --btn-hover: #0056b3;
    --white-hover: #b3b3b3;
}

body {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-left);
    color: var(--text-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex: 1;
    width: 100%;
}

.left-panel {
    flex: 1;
    background-color: var(--bg-left);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
}

.content-wrapper {
    max-width: 500px;
    text-align: center;
    margin-right: 50px;
}

.insta-logo {
    position: fixed;
    top: 35px;
    left: 35px;
    width: 4em;
    height: auto;
    margin-bottom: 20px;
}

.headline {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    margin: 40px 40px 40px 40px
}

.gradient-text {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.phone-collage img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.right-panel {
    flex: 1;
    background-color: var(--bg-right);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    border-left: 1px solid var(--text-secondary);
}

.login-container {
    width: 350px;
    margin-left: 50px;
}

.form-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background-color: transparent;
    border: 1px solid var(--input-border);
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.input-field:focus {
    border-color: var(--text-secondary);
    outline: none;
    color: var(--text-primary);
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-blue);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: var(--btn-hover);
}

.forgot-password {
    display: block;
    text-align: center;
    color: var(--text-primary);
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 30px;
}

.facebook-login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-blue);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid var(--text-secondary);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.fb-icon {
    height: 16px;
    margin-right: 8px;
}

.btn-outline {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn-outline:hover {
    background-color: var(--primary-blue);
    color: white;
}

.facebook-login:hover {
    background-color: var(--white-hover);
    color: white;
}

.meta-logo {
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
    color: white;
}

.footer {
    background-color: var(--bg-right);
    padding: 20px;
    font-size: 12px;
    color: var(--text-secondary);
    text-align: center;
    border: var(--text-secondary) solid 1px;
}

.footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.footer li {
    cursor: pointer;
}

.footer li:hover {
    text-decoration: underline;
}


@media (max-width: 1024px) {

    .left-panel {
        display: none;
    }

    .right-panel {
        justify-content: center;
    }

    .form-title {
        text-align: left;
    }

    .insta-logo {
        display: block;
        position: static;
        margin-bottom: 20px;
    }
}